.breadcrumb-component {
	padding-top: 124px;
	.breadcrumb-list {
		margin-bottom: 23px;
		padding-left: 0;
		list-style: none;
	}
	.breadcrumb-list-item {
		display: inline;
		font-size: 12px;
		a {
			display: inline-block;
			color: #68899a;
			line-height: 1.2;
			text-decoration: underline;
			&:hover { color: #555; }
		}
		&:last-child a { text-decoration: none; }
	}
}