.cart-component {
	padding-top: 70px;
	.inner-wrapper {
		padding: 4px 0;
		display: flex;
	    justify-content: flex-end;
	    i { color: #b68f5b; }
	    .cart {
	    	padding-left: 5px;
	    	font-size: 12px;
			color: #111;
			font-family: "Proxima Nova";
	    }
	}
}
