.upper-promo-component {
	padding: 10px 0;
	background-color: rgba(182,143,91,0.25);
	text-align: center;
	.inner-wrapper { display: flex; justify-content: center; align-items: center; }
	.upper-promo-text {
		flex: auto;
		font-size: 12px;
		line-height: 16px;
		color: rgb(104,137,154);
		font-family: "Proxima Nova";
		span { font-weight: bold; }
	}
	.css-js-close-upper-promo {
		color: #fff;
		text-decoration: none;
	}
}