.custom-tabs-partial {
	margin-bottom: 50px;
	.nav-tabs {
		margin: 0 -4px;
	    border-bottom: 1px solid #b68f5b;
	}
	.nav-link {
		margin: 0 4px;
		border: 1px solid #a4a4a4;
		border-bottom: 1px solid #b68f5b;
		color: #a4a4a4;
		&:hover, &.active {
			color: #111;
			border: 1px solid #b68f5b;
		}
	}
	.tab-content {
		padding: 30px 14px;
	}
	.tab-pane {
		max-width: 782px;
		p, ul {
			margin-bottom: 30px;
			font-size: 14px;
			line-height: 25px;
			color: #555;
			font-family: "Proxima Nova";
			font-weight: 300;
		}
		ul {
			list-style: none;
			li::before {
				content: "•";
				color: #b68f5b;
				display: inline-block;
				width: 1em;
				margin-left: -1em
			}
		}
	}
}