.product-partial {
	margin-bottom: 140px;
	.flex-wrapper { display: flex; }
	.img-wrapper {
		display: flex;
		width: calc(50% - 15px);
		.img {
			width: 100%;
			background-color: #e1e1e1;
			&.active { background-color: #adabab; }
		}
		.four-small{
			padding-right: 14px;
			width: 174px;
			.img {
				margin-bottom: 18px;
				height: 205px;
				&:last-child { margin-bottom: 0; }
			}
		}
		.one-big {
			padding-left: 14px;
			width: calc(100% - 174px;);
			// https://codepen.io/ccrch/pen/yyaraz
			.img {
				position: relative;
				height: 100%;
    			overflow: hidden;
				background-color: #fff;
				background-size: contain;
				background-repeat: no-repeat;
			}
			.tiles {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
			}

			.tile {
				position: relative;
				float: left;
				width: 33.333%;
				height: 100%;
				overflow: hidden;
			}

			.photo {
				position: absolute;
				top: 0;
				left: 0;
				width: 100%;
				height: 100%;
				background-repeat: no-repeat;
				background-position: center;
				background-size: cover;
				transition: transform .5s ease-out;
			}

			.txt {
				position: absolute;
				z-index: 2;
				right: 0;
				bottom: 10%;
				left: 0;
				font-family: 'Roboto Slab', serif;
				font-size: 9px;
				line-height: 12px;
				text-align: center;
				cursor: default;
			}

			.x { font-size: 32px; line-height: 32px; }
		}
	}
	.info-wrapper {
		padding-left: 28px;
		width: calc(50% - 15px);
		.intro {
			margin-bottom: 70px;
			.title { font-size: 28px; color: #111; font-family: "Avenir" }
			.item-num {
				font-size: 12px;
				line-height: 12px;
				color: #a4a4a4;
				font-family: "Proxima Nova";
				font-weight: 300;
			}
		}
		.price-info {
			margin-bottom: 30px;
			.price-wrap {
				margin-bottom: 12px;
				display: flex;
				align-items: baseline;
				.discount-price { display: none; }
				.regular-price {
					font-size: 28px;
					color: #a4a4a4;
					font-family: "Proxima Nova";
				}
				&.css-js-promo-price {
					.discount-price {
						display: block;
						font-size: 28px;
						color: #f58e7d;
						font-family: "Proxima Nova";
					}
					.regular-price {
						margin-left: 15px;
						font-size: 20px;
						color: #a4a4a4;
						background-image: repeating-linear-gradient(163deg, transparent 0%, transparent 48%, #a4a4a4 50%, transparent 52%, transparent 100%);
					}
				}
			}
			.promo-desc {
				padding: 11px 13px;
				width: 100%;
				font-size: 20px;
				color: #f58e7d;
				font-family: "Avenir";
				background-color: #f8f4ee;
			}
		}
	}
	.options {
		h4 {
			margin-bottom: 5px;
			font-size: 14px;
			line-height: 24px;
			color: #a4a4a4;
			font-family: "Proxima Nova";
			span { color: #111; }
		}
		.option { overflow: hidden; }
		.radio-wrapper {
			display: block;
			position: relative;
			height: 40px;
			width: 38px;
			margin-right: 10px;
			float: left;
			margin-bottom: 5px;
			cursor: pointer;
			user-select: none;
			overflow: hidden;
		}
		.color input, .size input {
			position: absolute;
			opacity: 0;
			cursor: pointer;
			&:checked ~ .checkmark { border: 1px solid #b68f5b; }
		}
		.color {
			margin-bottom: 13px;
			.checkmark {
				position: absolute;
				top: 0;
				left: 0;
				height: 40px;
				width: 38px;
				padding: 4px;
				transition: all 0.5s ease;
				border: 1px solid #dbdbdb;
				.inner-color { height: 100%; width: 100%; }
			}
		}
		.size {
			margin-bottom: 13px;
			display: flex;
			flex-wrap: wrap;
			align-items: baseline;
			h4 { width: 100%; }
			.checkmark {
				display: flex;
			    justify-content: center;
				height: 100%;
				width: 100%;
				border: 1px solid #dbdbdb;
				.inner-size { display: flex; align-items: center; }
			}
		}
		.availability { margin-bottom: 189px; }
		.quantity-box {
			padding-top: 7px;
			border-top: 1px solid #e1e1e1;
			.quantity-price-cart {
				display: flex;
    			align-items: center;
				margin-bottom: 26px;
			}

			input[type=number]::-webkit-inner-spin-button,
			input[type=number]::-webkit-outer-spin-button
			{ -webkit-appearance: none; margin: 0; }

			input[type=number] { -moz-appearance: textfield; }

			.quantity input {
				height: 42px;
				float: left;
				display: block;
				padding: 0;
				margin: 0;
				padding-left: 20px;
				border: 1px solid #eee;
				input:focus { outline: 0; }
			}

			.quantity-nav {
				float: left;
				position: relative;
				height: 42px;
			}

			.quantity-button {
				position: relative;
				cursor: pointer;
				border-left: 1px solid #eee;
				width: 20px;
				text-align: center;
				color: #333;
				font-size: 13px;
				font-family: "Trebuchet MS", Helvetica, sans-serif !important;
				line-height: 1.7;
				-webkit-transform: translateX(-100%);
				transform: translateX(-100%);
				-webkit-user-select: none;
				-moz-user-select: none;
				-ms-user-select: none;
				-o-user-select: none;
				user-select: none;
			}

			.quantity-button.quantity-up {
				position: absolute;
				height: 50%;
				top: 0;
				border-bottom: 1px solid #eee;
			}

			.quantity-button.quantity-down {
				position: absolute;
				bottom: -1px;
				height: 50%;
			}

			.price {
				margin: 0 30px;
				flex: auto;
				display: inline-block;
				font-size: 24px;
				color: #111;
				font-family: "Proxima Nova";
				font-weight: 300;
				.promo { display: none; }
				&.css-js-promo-price {
					.regular { display: none; }
					.promo { display: block; }
				}
			}
			.add-to-cart-btn {
				padding: 15px 19px;
				font-size: 24px;
				color: #fff;
				background-color: #b68f5b;
				font-family: "Proxima Nova";
				font-weight: 300;
				text-decoration: none;
				&:hover { background-color: lighten( #b68f5b, 3% ) }
			}
			.btn-wrapper {
				display: flex;
				justify-content: space-between;
				a {
					padding: 21px 39px;
					font-size: 14px;
					color: #68899a;
					text-decoration: none;
					border: 1px solid #e1e1e1;
					&:hover { border: 1px solid #b68f5b; }
					span i { margin-right: 5px; color: #f58e7d; }
				}
			}
		}
	}
}